body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  background-color: #f5f5f5;
  font-size: 16px;
}

.section {
  border: 1px solid #ccc;
  border-radius: 1rem;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 0 10px #9ecaed;
}

.navbar {
  background-color: #007bff;
}

.navbar .navbar-brand {
  color: #fff;
}

.navbar .navbar-brand:hover {
  color: #f8f9fa;
}

.container {
  max-width: 960px;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #007bff;
}

.link-underline {
  text-decoration: none;
}
.link-underline:hover {
  color: #0011ff;
  text-decoration: none;
  transition: 0.3s;
}

.btn-primary {
  background-color: #007bff;
  border-color: #2c8ef7;
  transition: background-color 0.5s ease;
}

.btn:hover {
  background-color: #45a049;
  border-color: #4a914d;
}

@keyframes button {
  0% {
    background-color: red;
    border-color: rgb(175, 66, 66);
  }
  25% {
    background-color: yellow;
    border-color: rgb(189, 189, 18);
  }
  50% {
    background-color: blue;
    border-color: rgb(4, 4, 160);
  }
  100% {
    background-color: green;
    border: #45a049;
  }
}

.btn {
  animation-name: button;
  animation-duration: 4s;
}

blockquote {
  background-color: #f8f9fa;
  border-left: 5px solid #007bff;
  padding: 10px;
}
